.hidden {
  display: none;
}

.icon-reset {
  width: 2.5rem;
}

.list-view {
  display: none;
  background: rgb(71, 87, 230);
  color: #fff;
  font-size: 1.4rem;
}

.icon-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 1.4rem;
  background: rgb(71, 87, 230);
  color: #fff;
}

.icon-view li {
  cursor: pointer;
}

@media (min-width: 760px) {
  .list-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .icon-view {
      display: none;
  }
}

.mobile-menu {
  width: 100%;
  text-align: center;
  background: #111640;
  color: #fff;
  font-size: 1.4rem;
}

.mobile-menu li {
  padding: 0.7rem;
  cursor: pointer;
}

.mobile-menu li:hover {
  background: #212C80;
  color: white;
}

/* CALCULATOR STYLES */
.product-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 1.2rem;
  background: rgb(192, 192, 192);
  box-shadow: 3px 3px 5px 0px rgba(179,179,179,1);
}

.product-calculator h2 {
  font-size: 1.7rem;
}

.product-calculator input {
  margin: 1.5rem;
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
}

.product-calculator button {
  background: #333;
  font-size: 1.1rem;
  color: #61dafb;
  padding: 0.5rem 1.3rem;
  margin: 1.2rem;
  border: none;
  border-radius: 10px;
}
