.hidden {
  display: none;
}

.list-view {
  display: none;
  background: #3242BF;
  color: #fff;
  font-size: 1.4rem;
}

.icon-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 1.4rem;
  background: #3242BF;
  color: #fff;
}

.icon-view li {
  cursor: pointer;
}

@media (min-width: 760px) {
  .list-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .icon-view {
      display: none;
  }
}

.mobile-menu {
  width: 100%;
  text-align: center;
  background: #111640;
  color: #fff;
  font-size: 1.4rem;
}

.mobile-menu li {
  padding: 0.7rem;
  cursor: pointer;
}

.mobile-menu li:hover {
  background: #212C80;
  color: white;
}
